body {
    margin : 2em;
}
.template-image-in-table {
    max-width : 20em !important;
    max-height : 20em !important;
}
.width-50 {
    width : 50% !important;
}
.width-100 {
    width : 100% !important;
}
/**
.template-page-img {
    max-width : 50em !important;
    max-height : 50em !important;
}
**/