{% extends "base.html" %}
{% block body %}
<h3 class = "title is-3">Template {{ template.name }}</h3>
<div class = "content">
    <img id = "img" src = "{{ template.image_url }}" class = "template-page-img">
    <div id = "canvasContainer"></div>
    <script>
        var textNodeArr = [];
        var tnsUp = false;
    </script>
    <button class = "button is-primary" id = "toggleTNBtn" onclick = "toggleTextNodes();">Show TextNodes</button>
    <div class = "columns">
        <div class = "column">
            <p>Existing Text-Nodes</p>
            <table class = "table is-striped">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Description</th>
                        <th>Coordinates</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    {% for text_node in text_nodes %}
                    <tr>
                        <td>{{ text_node.index }}</td>
                        <td>{{ text_node.description }}</td>
                        <td>{{ text_node.get_coordinates_string() }}</td>
                        <td>{{ text_node.get_rgb_string() }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class = "column">
            <p>New Text-Nodes</p>
            <table class = "table is-striped">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Description</th>
                        <th>Coordinates</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody id = "newTextNodesTBody"></tbody>
            </table>
            <div class = "buttons">
                <div id = "inputsDiv"></div>
                <form id = "addTextNodesForm" action = "/forms/add-text-nodes/" method = "POST"></form>
                <input type = "hidden" form = "addTextNodesForm" value = "{{ template.id }}" name = "templateid">
                <button class = "button is-success" onclick = "submitAddTextNodesForm();">Add</button>
                <button class = "button is-danger" type = "reset" form = "addTextNodesForm">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id = "textNodeDivsContainer"></div>
{% endblock %}
{% block more_bottom %}
<script src = "/assets/js/click_image.js"></script>
<script>
    {% for text_node in text_nodes %}
        textNodeArr.push([{{ text_node.x }}, {{ text_node.y }}]);
    {% endfor %}
</script>
{% endblock %}