{% extends "base.html" %}
{% block body %}
<h3 class = "title is-3">Templates</h3>
<div class = "buttons">
    <a href = "/create-template" class = "button is-primary">New</a>
</div>
<div class = "content">
    <table class = "table is-striped">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Created</th>
                  <th>Image URL</th>
                  <th>Image</th>
              </tr>
          </thead>
          <tbody>
              {% for template in templates %}
              <tr>
                  <td>{{ template.id }}</td>
                  <td><a href = "/templates/{{ template.name }}/">{{ template.name }}</a></td>
                  <td>{{ template.created }}</td>
                  <td><a href = "{{ template.image_url }}">{{ template.image_url }}</a></td>
                  <td><img class = "template-image-in-table" src = "{{ template.image_url }}"></td>
              </tr>
              {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}
{% block more_bottom %}
{% endblock %}